.how_it_works__container {
    width: 100% !important;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
    margin-bottom: 8%;
}

.how_it_works__content {
    grid-template-columns: 1fr 2fr;
    display: grid;
    justify-content: center;
    align-items: flex-start;
    grid-gap: 3rem;
    margin: 0 15% 0 15%;
}

.how_it_works__text {
    flex-direction: column;
    display: flex;
}

.how_it_works__title {
    color: var(--title-color);
    font-size: var(--pre-big-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-1);
    text-align: start;
}

.how_it_works__description {
    color: var(--title-color);
    font-size: var(--normal-font-size);
    font-weight: var(--font-normal);
    text-align: start;
    line-height: 150%; 
}

.how_it_works__video {
    width: 100%;
    height: 500px;
}

/*=============== BREAKPOINTS ===============*/
/* For wide monitors devices */
@media screen and (min-width: 2300px) {
    .how_it_works__video {
        width: 728px;
        height: 422px;
    }
}

/* For tablet devices */
@media screen and (max-width: 1200px) {

    .how_it_works__container {
        padding-top: 4rem;        
        padding-bottom: 4rem;  
    }

    .how_it_works__content {
        flex-direction: column;
        display: flex;
        align-items: center;
        grid-gap: 2rem; 
        margin: 0 10% 0 10%;
    }

    .how_it_works__title {
        font-size: var(--h1-font-size);
        text-align: center;
    }

    .how_it_works__description {
        font-size: var(--normal-font-size);
        text-align: center;
    }

    .how_it_works__video {
        width: 706px;
        height: 410px;
    }

  
}

/*=============== BREAKPOINTS ===============*/
/* For wide monitors devices */
@media screen and (min-width: 2300px) {
    .how_it_works__video {
        width: 728px;
        height: 422px;
    }
}

/* For phones devices */
@media screen and (max-width: 600px) {

    .how_it_works__video {
        width: 100%;
        height: 300px;
    }

  
}