.footer_container {
    width: 100%;
    height: 300px;
    background-color: var(--title-color-orange);
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.footer_internal {
    width: 100%;
    margin: 0 19% 0 19%;
    display: flex;
    flex-direction: column;
}

.footer_buttons_row {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem; 
    display: grid;
}

.footer_store_buttons_row {
    flex-direction: row;
    display: flex;
    gap: 1rem;
}

.footer_privacy_terms_row {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem; 
    display: grid;
    align-items: flex-start;
    margin-top: var(--mb-1-5);
}

.footer_transparent_button {
    color: #FFF;
    text-align: center;
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    background-color: transparent;
}

.footer_copyright_row {
    width: 100%;
    
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    display: flex;
}

.footer_line {
    height: 1px;
    width: 100%;
    background-color: white;
    margin-top: var(--mb-1-5);
    margin-bottom: var(--mb-1-5);
}

.footer_copyright_text {
    color: #FFF;
    text-align: center;
    font-size: var(--small-font-size);
    font-weight: var(--font-normal);
    margin-bottom: var(--mb-1);
}