.diagonal-images {
    display: flex;
    flex-direction: row;
    margin-left: 30%;
}
  
.image {
    max-width: 260px;
    width: 100%;
    max-height: 500px; 
    height: auto; 
    margin-left: -110px;
}

.image-2 {
    margin-top: 70px;
}

.image-3 {
    margin-top: 140px;
}


/* For tablet devices */
@media screen and (max-width: 1200px) {
    .image {
        max-width: 147px;
        max-height: 274px; 
        height: auto; 
        margin-left: -70px;
    }

    .image-2 {
        margin-top: 40px;
    }
    
    .image-3 {
        margin-top: 100px;
    }
}