.home__container {
    width: 100% !important;
    padding-top: 8rem;
    padding-bottom: 8rem;
 }
 
.home__content {
    grid-template-columns: 1fr 1fr;
    display: grid;
    align-items: center;
    margin: 0 15% 0 15%;
}

.home__data {
    display: flex;
    flex-direction: column; 
}

.home__title {
    color: var(--title-color);
    font-size: var(--big-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-0-25);
    line-height: 110%;
}

.home__description {
    color: var(--title-color);
    font-size: var(--h3-font-size);
    font-weight: var(--font-normal);
    margin-top: 10px;
}

.home__store_buttons {
    display: flex;
    flex-direction: row;
    grid-gap: 1rem;
    margin-top: 2.75rem;
}

/*=============== BREAKPOINTS ===============*/
/* For wide monitors devices */
@media screen and (min-width: 2300px) {
    .home__content {
        grid-template-columns: 1fr 1fr;
        
        align-items: center;
        margin: 0 25% 0 25%;
    }
}

/* For tablet devices */
@media screen and (max-width: 1200px) {

    .home__container {
        padding-top: 7.5rem;
        padding-bottom: 4.5rem;
    }

    .home__content {
        margin: 0 10% 0 10%;
    }

    .home__title {
        font-size: var(--h1-font-size);
    }

    .home__description {
        font-size: var(--normal-font-size);
    }


    .home__store_buttons {
        display: flex;
        flex-direction: row;
        grid-gap: 1rem;
        margin-top: 1.5rem;
    }

}