.store__button_container {
    display: flex;
    padding: 8px 16px;
    align-items: center;
    gap: 8px;
    width: 12.5rem;
    border-radius: 6px;
    background: #000;
}

.home_image__logo {
    height: 36px;
    width: 36px;
}

.home_image__text {
    width: 125px;
    height: 40px;
}


.store__button_container:hover {
    background: var(--title-color-orange);
    cursor: pointer;
}


/* For tablet devices */
@media screen and (max-width: 1200px) {
    .store__button_container {
        width: 8.5rem;
    }

    .home_image__logo {
        height: 22px;
        width: 22px;
    }

    .home_image__text {
        width: 80px;
        height: 25px;
    }
}