.questions__container {
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
    margin: 0 18% 0 18%;
}

.questions__content {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 1.5rem;
}

.questions__title {
    color: var(--title-color);
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 1rem;
}


/* For tablet devices */
@media screen and (max-width: 1200px) {

    .questions__container {
        margin: 0 10% 0 10%;
    }
  
}

/* For phone devices */
@media screen and (max-width: 600px) {

    .questions__container {
        margin: 0 7% 0 7%;
    }
  
}