.questions__container {
    width: 100% !important;
    padding: 3.5rem;
}

.questions__content {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.questions__title {
    color: var(--title-color);
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
}

